*{
    margin:0px;
    padding:0px;
    font-family: arial;
    border:border-box;
    /* background-color: rgb(205, 202, 202); */
}
.shopping{
    background-color: #e2e7e6;
   
}
.navbar{
    height: 70px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
#nav_logo{
    height:50px;
    width:113px;
    background-image:url("/amazon_logo.png");
    background-size:cover;
    border:1.5px,solid,transparent;
    border-radius:5px;
    margin-left: 8px;
    
}
#nav_logo:hover{
    border-color: white;
}
#nav_address{
    height:50px;
    width:88px;
    color:white;
    border:1.5px,solid,transparent;
    border-radius:5px;
   padding-top: 6px;
}
/* pre{
    text-align: center;
    align-self: center;
    display: inline-block;
} */
#nav_address:hover{
    border-color: white;
}


/**box2**/

#nav_location{
   
    font-size: 1rem;
    font-weight: 800;
   
   
}
    
  

#deliver{
    font-size: 0.85rem;
    color:#cccccc;
    margin-left: 14px;
}

/* Search bar */

.search_icon{
    height:60px;
    width:705px;
    display:flex;
    align-items: center;
    font-size: 1rem;
  
    
}
#dropdown{
   height:45px;
    width:70px;
    background-color: #e6e6e6;
    color:#161717a1;
    border:1px,solid,transparent;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 1rem;
    text-align: center;



    
}
#dropdown:hover{
   
    color: black;
}
#searchbar{
    height:43px;
    width:570px;
    flex-shrink:0px;
    border:1px,solid,transparent;
    background-color: white;
    font-size: 1rem;

}
#search_button{
    height:45px;
    width:65px;
    flex-shrink:0px;
    background-color: rgb(240, 178, 72);
    border:1px,solid,transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;;
    font-size: 1rem;
}
#search_button:hover{
    background-color:rgb(244, 157, 5) ;
}

#s_bar{
    flex-grow: 1;
    background-color: white;
}
.language{
    width:70px;
    height:45px;
    padding:0px 9px 5px 9px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#lan{
    width:70px;
    height:45px;
    color:white;
    background-color: #0f1111;
    font-weight: 700;
    font-size:1rem;
    border:1px,solid,transparent;
    


}
#lan:hover{
    border:1px,solid,white;
    border-radius: 3px;

}
.signin_bar{
    border: 1.5px,solid,transparent;
    height: 40px;
    width: 145px;
    padding-top: 10px;
    padding-right: 15px;
    border-radius: 3px;
   

}
.signin_bar:hover{
    border: 1.5px,solid,white;

}

#sign_in{
    font-size: 0.90rem;
    color:white;
    text-decoration:none;
    margin-left: 3px;
    font-weight: 500;
}
#accounts{
    color:white;
    background-color: #0f1111;
    border-width: 0px;
    font-weight: 600;
    font-size: 16px;
    


}

.Orders{
    height: 42px;
    width:85px;
    border: 1.5px,solid,transparent;
    border-radius: 3px;
    color:white;
    padding-top: 8px;

 
}
.Orders:hover{
    
    border-color: white;
}
#order{
    font-weight: 600;
    font-size: 17px;


}
.cart{
    color:white;
    width:100px;
    height: 40px;
    border: 1.5px,solid, transparent;
    border-radius: 3px;
    text-decoration: none;
    padding-top: 12px;
    margin-right: 8px;
    display: flex;
    align-items: center;

}
.cart:hover{
   
    border: 1.5px,solid,white;
    

}
#navbar_cart{
    color:white;
    text-decoration: none;
}
.cart i{
    font-size: 36px;
}

.navbar_two{
    height:40px;
    background-color: #222f3d;
    display:flex;
}

.component1{
    height: 40px;
    width: 62px;
    border:1.5px,solid,transparent;
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component1:hover{
    border:1.5px,solid,white;
}
.component1 i {
    color: white;
    font-size: 23px;
}
#comp1{
    color:white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    display: flex;

}
#text{
    margin-top: 5px;
    margin-left:5px;
    font-size: 17px;
}
.component2{
    width:70%;
    display: flex;
    justify-content: left;

}
.comp2{
    color:white;
    text-decoration: none;
}
#text3{
    width: 140px;
   
}
#text4{
    width:95px;
}
#text5{
    width:100px
}
#text6{
    width:70px;
}
.panel{
    border: 1.5px,solid,transparent;
    height: 38px;
    text-align: center;
    margin-left: 6px;
    padding-top: 5px;
    font-size: 17px;
}
.panel:hover{
    border: 1.5px,solid,white;
    border-radius: 3px;
}

/**Main Page Content**/

.image1{
    height: 400px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content:center;
   
    /* align-items: center;
     */
}
#left_arrow i{
    position: absolute;
    left: 50px;
    top: 300px;
    font-size: 30px;
    color:rgb(98, 98, 98) ;
}
#right_arrow{
    position:absolute;
    right: 50px;
    top: 300px;
    font-size: 30px;
    color:rgb(98, 98, 98) ;

}
.intro_tag{
    height: 40px;
    width:70%;
    background-color: #e0e3e3;
    align-self: center;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 340px;
}
#amazon_link{
    color:#2162A1;
    text-decoration: none;
}
#amazon_link:hover{
    text-decoration: underline;
    color: #0c3353;
}

/** Shop Products **/

.shop_product{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    height:550px;
}
.row1{
   
   background-color: white;
   height:500px;
   width:23%;
   font-weight: 700;
   font-size: 1.5rem;
   text-align: center;  
 
}
.box1_product{
    height:80%;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.product_names{
    font-size: 0.75rem;
    text-decoration: none;
    color: black;
}
.box3_product{
    height:340px;
    width:300px;
    background-image: url("/Gaming.jpg");
    background-size: cover;
    margin-left: 39px;
    margin-top: 5px;
 
}
.bottom_link{
    font-size: 0.9rem;
    text-decoration: none;
    width: 100%;
    text-align: center;
 
}
.bottom_link:hover{
    color: #2162A1;
}
.row1_product{
    height: 80%;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
   
}
.row1_images{
    height: 50%;
    width: 40%;
}
#jeans{
    width:100%;
    height:65%;
    background-image: url("/jeans2.jpg");
    background-size: cover;
}
#tops{
    width:100%;
    height:70%;
    background-image: url("/tops.jpg");
    background-size: cover;
}
#dresses{
    width:100%;
    height:60%;
    background-image: url("/dresses.jpg");
    background-size: cover;
}
#shoes{
    width:100%;
    height:60%;
    background-image: url("/shoes.jpg");
    background-size: cover;
}
#cleaning_storage{
    width:100%;
    height:80%;
    background-image: url("/Cleaning tools2.jpg");
    background-size: cover;
}
#home_storage{
    width:100%;
    height:80%;
    background-image: url("/Home storage.jpg");
    background-size: cover;
}
#home_decor{
    width:100%;
    height:80%;
    background-image: url("/Home Decor.jpg");
    background-size: cover;
}
#bedding{
    width:100%;
    height:80%;
    background-image: url("/Bedding.jpg");
    background-size: cover;
}
#smartphones{
    width:100%;
    height:60%;
    background-image: url("/Smartphones.jpg");
    background-size:cover;
}
#watches{
    width:100%;
    height:60%;
    background-image: url("/Watches.jpg");
    background-size: cover;
}
#tablets{
    width:100%;
    height:60%;
    background-image: url("/Tablets.jpg");
    background-size: cover;
}
#headphones{
    width:100%;
    height:60%;
    background-image: url("/Headphones.jpg");
    background-size: cover;
}
#makeup{
    width:100%;
    height:60%;
    background-image: url("/Makeup.jpg");
    background-size: cover;

}
#brushes{
    width:100%;
    height:60%;
    background-image: url("/Brushes.jpg");
    background-size: cover;

}
#sponges{
    width:100%;
    height:60%;
    background-image: url("/Sponges.jpg");
    background-size: cover;

}
#mirrors{
    width:100%;
    height:60%;
    background-image: url("Mirrors.jpg");
    background-size: cover;

}
#loved_watches{
    height:70%;
    width:80%;
    background-image: url("Watches.jpg");
    background-size: cover;
    margin-left: 39px;
    margin-top: 5px;
 
}
#ride_ons{
    width:100%;
    height:60%;
    background-image: url("/ride ons.jpg");
    background-size: cover;

}
#Dolls{
    width:100%;
    height:60%;
    background-image: url("dolls.jpg");
    background-size: cover;

}
#building{
    width:100%;
    height:60%;
    background-image: url("/building and construction.jpg");
    background-size: cover;

}
#Swimming_pools{
    width:100%;
    height:60%;
    background-image: url("/swimming pools.jpg");
    background-size: cover;

}
.shop_product2{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    height:370px;

}
.wide_panel{
   
    height: 90%;
    width:100%;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 700;

}
.panel_images
{
   height:85%;
   width:100%;
   display:flex;
   justify-content: space-evenly;
}
#hand_warmers{
    height:70%;
    width:11%;
    background-image: url("/Hand warmers.jpg");
    background-size: cover;
}
#bottles{
    height:70%;
    width:11%;
    background-image: url("bottles.jpg");
    background-size: cover;
}
#water_bottle{
    height:75%;
    width:4.6%;
    background-image: url("Water bottle.jpg");
    background-size:cover;

}
#sports1{
    height:70%;
    width:13%;
    background-image: url("sports1.jpg");
    background-size: cover;

}
#sports2{
    height:70%;
    width:13%;
    background-image: url("sports2.jpg");
    background-size: cover;

}
#sports3{
    height:76%;
    width:16%;
    background-image: url("sports3.jpg");
    background-size: cover;

}

.arrows{
    position: relative;
    top:35%;
    display: flex;
    justify-content: space-between;
}
.arrows i{
    color:#222f3d
}
#game1{
    height:72%;
    width:8%;
    background-image: url("/game1.jpg");
    background-size: cover;

}
#game2{
    height:75%;
    width:19%;
    background-image: url("/game2.jpg");
    background-size: cover;

}
#game3{
    height:77%;
    width:8%;
    background-image: url("/game3.jpg");
    background-size: cover;

}
#game4{
    height:77%;
    width:8%;
    background-image: url("/game4.jpg");
    background-size: cover;

}
#game5{
    height:77%;
    width:20%;
    background-image: url("/game5.jpg");
    background-size: cover;

}
#game6{
    height:77%;
    width:8%;
    background-image: url("/game6.jpg");
    background-size: cover;

}
.signin_panel{
    background-color: #e2e7e6;
    height:fit-content ;
}
#signin_info{
    height:100px;
    background-color: white;
    text-align: center;
   
}
#recomendations{
    padding-top: 10px;
    font-weight: 750;
    font-size: 1.77rem;
   
}
#signin_button{
    height:40px ;
    width:13%;
    background-color:rgb(253, 220, 73) ;
    font-size: 1rem;
    border:1px,solid,transparent;
    border-radius: 25px;
}
#signin_button:hover{
    background-color: rgb(249, 202, 62);
}
footer{
    background-color: #232f3e;
    height:fit-content ;
}
.top_page{
    height: 30px;
    background-color: #293e55;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}
.top_page:hover{
    background-color: #1f354d;
}
.box{
    color:white;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 50px;
}

.footer_info{
    color: #dddddd;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
   margin-top: 15px;
}
.footer_info:hover{
    text-decoration: underline;
}
.bottom_panel{
    height:300px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
}
ul{
    list-style-type: none;
}
.footer_statements{
   margin-top: 12px;
}
.footer_panel2{
    height: 100px;
    padding-top: 30px;
    background-color: #0f1111;
    display: flex;
    justify-content: center;
   
}
.footer_logo{
    height:50px;
    width:113px;
    background-image:url("/amazon_logo.png");
    background-size:cover;
}
.footer_buttons{
    height:40% ;
    margin-left: 70px;
    display: flex;
    align-items: center;
}
.button2{
    background-color:#232f3e;
    height: 100%;
    width:190px;
    margin-right: 10px;
   
    border: 1.5px,solid,#dddddd;
    border-radius: 5px;
    color: #dddddd;
    font-size: 1rem;
}
